@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; }
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    background-color: #09090B;
    color: #FAFAFA;
    font-family: 'Inter', system-ui, sans-serif;
  }
  ::-webkit-scrollbar { width: 4px; height: 4px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: #27272C; border-radius: 2px; }
  ::-webkit-scrollbar-thumb:hover { background: #3F3F46; }
  select { background-color: transparent; cursor: pointer; }
  option { background-color: #18181B; color: #FAFAFA; }
}
